/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body {
    padding-top: 85px;
    padding-bottom: 20px;
    min-height: 400px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;

}

/* Styles for validation helpers
    -------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*--------------*/


#jsDate-logo {
    max-height: 60px;
    margin: 5px 20px;
}

#jsDate-logo2 {
    max-height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
/*@media (min-width: 768px) {*/
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: block;
        padding-top: 50px;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #846280;
        border-right: 1px solid #4d394b;
        height: 100%;
        
    }
/*}*/

.sidebar li:default {
    background: #19191f;
}

/*.icon-bar {
    background-color: grey;
}*/

.navbar-toggle .icon-bar {
    background-color: black;
}
html, body {
    background-color: #fff;
}
.sidebar a {
    color: white;
}

.nav-sidebar > li > a:after {
    background-color: #19191f;
}

@media (min-width: 768px) {
    .main {
        height: 100%;
    }
}

#admin-body {
    padding-top: 50px;
}

#pr-body {
    padding-top: 50px;
}

.nav-sidebar > li > a:hover {
    background-color: #4d394b;
}

.navbar-nav {
    z-index: 1;
    background-color: white;
    background-image: none;
}
.navbar-nav li {
    font-size: 16px;
    /*background-color: #4d394b;*/
    padding-top: 12px;
}

.navbar-inverse {
    z-index: 1;
    background-color: #313145;
    background-image: none;
    
}
    



.lead {
    background-color: white;
    margin-bottom: 5px;
    padding: 23px;
    font-size: 27px;
}

.banner-h4 {
    padding-top: 100px;
}

.date {
    color: white;
    font-size: 12px;
}

.padding-bot-40 {
    padding-bottom: 40px;
}

.tiny {
    font-size: 10px;
}

.padding-left-60 {
    padding-left: 60px;
}

.head-block-thumb {
    max-width: 150px;
    max-height: 150px;
}

.head-block-desc {
    padding-left: 10px;
}

.panel {
    border-radius: 0;
    border: 0;
}

footer {
    background-color: #323045;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 115px 0;
    position:relative;
}

.new-user-panel{
    background-color: #00bcd4;
}

.new-post-panel{
    background-color: #ffc107;
}
.new-page-panel {
    background-color: #4caf50;
}

.new-user-panel h4{
    padding-top: 15px;
    color: white;
}

.new-post-panel h4{
    padding-top: 15px;
    color: white;
}

.new-page-panel h4{
    padding-top: 15px;
    color: white;
}

.glyphicon-plus-sign-alt {
    color: white;
}
.glyphicon-user-alt {
    color: white;
    font-size: 75px;
}
.glyphicon-file-alt {
    color: white;
    font-size: 75px;
}

.glyphicon-pencil-alt {
    color: white;
    font-size: 75px;
}

/*.carousel {
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
}
.item > a > img {
    width: 100%;
    height: 100%;
 }*/
 
/*.carousel-caption {
    top: 46%;
}*/


/*.post-title {
    color: White;
}*/

.blog-heading {
    background-color: #313145;
    color: white;
}

.thumbnail {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 200%;
  height: auto;
}

.carousel-thumbnail {
  position: relative;
  min-height: 444px;
  max-height: 444px;
  overflow: hidden;
}
.carousel-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.carousel-thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.blogpost {

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h2 a {
    font-family: 'Lucida Sans Unicode';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.02em;
}

h2 {
    font-family: 'Lucida Sans Unicode';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.02em;
}
h3 {
    margin-top: 0;
    color: rgba(0,0,0,0.44);
}


.btn-pending { 
  color: #ffffff; 
  background-color: #F5B905; 
  border-color: #EDB200; 
} 
 
.btn-pending:hover, 
.btn-pending:focus, 
.btn-pending:active, 
.btn-pending.active, 
.open .dropdown-toggle.btn-pending { 
  color: #ffffff; 
  background-color: #DBAB1B; 
  border-color: #EDB200; 
} 
 
.btn-pending:active, 
.btn-pending.active, 
.open .dropdown-toggle.btn-pending { 
  background-image: none; 
} 
 
.btn-pending.disabled, 
.btn-pending[disabled], 
fieldset[disabled] .btn-pending, 
.btn-pending.disabled:hover, 
.btn-pending[disabled]:hover, 
fieldset[disabled] .btn-pending:hover, 
.btn-pending.disabled:focus, 
.btn-pending[disabled]:focus, 
fieldset[disabled] .btn-pending:focus, 
.btn-pending.disabled:active, 
.btn-pending[disabled]:active, 
fieldset[disabled] .btn-pending:active, 
.btn-pending.disabled.active, 
.btn-pending[disabled].active, 
fieldset[disabled] .btn-pending.active { 
  background-color: #F5B905; 
  border-color: #EDB200; 
}

.btn-pending .badge {
    color: #F5B905;
    background-color: #ffffff;
}

#rememberMe {
    margin-left: 25px
}

.edit-blogpost {
    padding-top: 8px;
}

.edit-status {
    padding-top: 5px;
}