/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#jsDate-logo {
    max-height: 80px;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: block;
        padding-top: 50px;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #313145;
        border-right: 1px solid #19191f;
        height: 100%;
    }
}

html, body {
    background-color: #f8f8f8;
}
.sidebar a {
    color: white;
}

.sidebar a:hover {
    background-color: #19191f;
}

@media (min-width: 768px) {
    .main {
        height: 100%;
    }
}

#admin-body {
    padding-top: 50px;
}

.nav-sidebar > li > a:hover {
    background-color:  #323045;
}

.navbar-inverse {
    z-index: 1;
    background-color: #313145;
}


#home-banner {
    background-image: url("https://www.jdate.com/RegContent/CSS/images/splash-bg.jpg");
    background-size: cover;
    width: 100%;
    min-height: 600px;
}       

.jumbotron {
    background-color: transparent;
}

.lead {
    background-color: white;
    margin-bottom: 5px;
    padding: 23px;
    font-size: 27px;
}

.banner-h4 {
    padding-top: 100px;
}
