@model Blog.Models.StaticPage

@{
    ViewBag.Title = "View Static Page";
}

<div class="center-block staticpage">
    
    <div class="col-md-12">
        <h2>@Model.StaticPageTitle</h2>
        <p>@Html.Raw(Model.StaticPageText)</p>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <small><cite title="Source Title">By: @(Model.User.FirstName + " " + Model.User.LastName)</cite></small>
            <small>@Model.TimeCreated.ToShortDateString()</small>
        </div>
    </div>
</div>
