@model Blog.UI.Models.AdminVM
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-10 col-md-offset-2 main">
    <br/>
    <h2>Admin Dashboard</h2>
    <hr/>
    <!--DASHBOARD-->

    
    <!--Only Visible on mobile-->
    <div class="container">
        <div class="col-md-3 hidden-lg hidden-md">
            <div class="panel new-manageposts-panel">
                <a href="/Admin/ManagePosts">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-comment glyphicon-comment-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-edit glyphicon-edit-alt"></span> Manage Posts</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><h4>4</h4></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 hidden-lg hidden-md">
            <div class="panel new-managepages-panel">
                <a href="/Admin/ManageStaticPages">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-file glyphicon-file-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-edit glyphicon-edit-alt"></span> Manage Pages</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><h4>4</h4></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 hidden-lg hidden-md">
            <div class="panel new-manageusers-panel">
                <a href="/Admin/ManageUsers">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-comment glyphicon-comment-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-edit glyphicon-edit-alt"></span> Manage Users</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><h4>4</h4></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!--VISIBLE ALWAYS-->
        <div class="col-md-offset-1 col-md-3">
            <div class="panel new-user-panel">
                <a href="/Admin/AddNewUser">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-user glyphicon-user-alt"></span>
                            <br/>
                            <h4><span class="glyphicon glyphicon-plus-sign glyphicon-plus-sign-alt"></span> New User</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><p>@Model.Users.Count</p></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel new-post-panel">
                <a href="/BlogPost/AddNewBlogPost/">
                    <div class="panel-body">

                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-pencil glyphicon-pencil-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-plus-sign glyphicon-plus-sign-alt"></span> New Post</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><p>@Model.BlogPosts.Count</p></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel new-page-panel">
                <a href="/Page/AddNewPage/">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-file glyphicon-file-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-plus-sign glyphicon-plus-sign-alt"></span> New Page</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><p>@Model.Pages.Count</p></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
