@model Blog.UI.Models.AdminVM

@{
    ViewBag.Title = "AdminPages";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-10 col-md-offset-2 main">
    <br />
    <h2>Pages</h2>
    <hr />
<div class="container">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Pages</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Approve</th>
                        <th>Deny</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Profiles</td>
                        <td>Page</td>
                        <td>Dean Choi</td>
                        <td>12/12/2015</td>
                        <td><button>Approve</button></td>
                        <td><button>Deny</button></td>
                    </tr>
                    <tr>
                        <td>About</td>
                        <td>Blog</td>
                        <td>Tim Lim</td>
                        <td>9/12/2015</td>
                        <td><button>Approve</button></td>
                        <td><button>Deny</button></td>
                    </tr>
                    <tr>
                        <td>Events</td>
                        <td>Blog</td>
                        <td>Patrick Tighe</td>
                        <td>8/12/2015</td>
                        <td><button>Approve</button></td>
                        <td><button>Deny</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
