@model Blog.UI.Models.PRVM

@{
    ViewBag.Title = "PR Dashboard";
    Layout = "~/Views/Shared/_PrDashboardLayout.cshtml";
}

<div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-10 col-md-offset-2 main">
    <br />
    <h2>PR Dashboard</h2>
    <hr />
    <!--DASHBOARD-->
    <div class="container">
        

        <div class="col-md-3">
            <div class="panel new-post-panel">
                <a href="/BlogPost/AddNewBlogPost/">
                    <div class="panel-body">

                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-pencil glyphicon-pencil-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-plus-sign glyphicon-plus-sign-alt"></span> New Post</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><h4>4</h4></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel new-page-panel">
                <a href="/Page/AddNewPage/">
                    <div class="panel-body">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-file glyphicon-file-alt"></span>
                            <br />
                            <h4><span class="glyphicon glyphicon-plus-sign glyphicon-plus-sign-alt"></span> New Page</h4>

                        </div>
                        <div class="col-xs-2">
                            <a href="#" class="badge"><h4>4</h4></a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>


