@model Blog.UI.Models.AddBlogPostVM

@{
    ViewBag.Title = "AddNewBlogPost";
}

<h2>Add Blog Post</h2>

<textarea id="mytextarea">Hello, World!</textarea>

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/app/tinymce.js"></script>
}